<mat-tab-group>
  <mat-tab label="Sign In"> 
      <nav mat-tab-nav-bar>
          <a mat-tab-link
              *ngFor="let link of navLinks"
              [routerLink]="link.path"
              routerLinkActive #rla="routerLinkActive"
              [active]="rla.isActive">
            {{link.label}}
          </a>
        </nav>
        <app-login></app-login>
  </mat-tab>
  <mat-tab label="Sign Up"> 
      <nav mat-tab-nav-bar>
          <a mat-tab-link
              *ngFor="let link of navLinks"
              [routerLink]="link.path"
              routerLinkActive #rla="routerLinkActive"
              [active]="rla.isActive">
            {{link.label}}
          </a>
        </nav>
      <app-register></app-register>
  </mat-tab>
</mat-tab-group>